<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

  <connectionStrings>
    <!--<add name="conexion" connectionString="data source=DESKTOP-FVGMP2N\SQLEXPRESS;initial catalog=SIPCRISTAR;persist security info=True;user id=sa;password=94082305666;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <add name="conexion" connectionString="data source=(localdb)\servidor;initial catalog=pruebas;persist security info=True;user id=sa;password=1234;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="ConStr" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0}; Extended Properties='Excel 12.0 Xml;HDR=Yes;IMEX=1'" />
    <add name="Nacional.Properties.Settings.ejemplo1ConnectionString"
      connectionString="Data Source=DESKTOP-FVGMP2N\SQLEXPRESS;Initial Catalog=ejemplo1;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  
  
</configuration>
